@using Internetbanking.Core.Application.ViewModels.User

@model LoginViewModel

@{
    ViewData["Title"] = "Login";
    
}

<div class="eow mt-5">
    <div class="col-6 offset-3">
        <div class="card shadow-sm">
            <div class="card-body">
                @Html.ValidationSummary(false, "", new {@class = "text-danger"})
                @if (Model.HasError)
                {
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <p>@Model.Error</p>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
                <form method="post" asp-asp-controller="User" asp-action="Index">
                    <div class="mb-3">
                        <label asp-for="Email" class="form-label">Correo de Usuario</label>
                        <input class="form-control" asp-for="Email"/>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Password" class="form-label">Clave</label>
                        <input class="form-control" asp-for="Password" />
                    </div>
                    
                    <button type="submit" class="btn btn-primary float-end">Iniciar Seccion</button>
                    <a asp-controller="User" asp-action="ForgotPassword" class="btn btn-warning float-end me-2">Olvide mi clave</a>
                </form>
            </div>

        </div>
    </div>

</div> 